*{
    background-color: hsla(241, 100%, 93%, 1);
}

table {
	margin-left: auto;
	margin-right: auto;
    color: #fff; /* White text */
    padding: 0.8rem;
    border-radius: 0.8rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

input[type="button"] {
	width: 100%;
	padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	color: black;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 8px;
    transition: 0.3s ease-in;
}

input[type="button"]:hover{
    box-shadow: 0px 4px 6px rgba(0, 0, 0.3, 0.5);
}

input[type="text"] {
	padding: 20px 240px;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	text-align: left;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 0.8rem;
    /* background-color: hsla(241, 100%, 93%, 1); */
    background-color: #d4c2f6;
    margin-bottom: 0.5rem;
}

display {
	text-align: left;
}
