*{
    background-color: hsla(241, 100%, 93%, 1);

}

table {
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
    background-color: hsla(241, 100%, 93%, 1);
    color: #fff; /* White text */


}

input[type="button"] {
	width: 100%;
	padding: 20px 40px;
	background-color: whitesmoke;
	color: black;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
}

input[type="text"] {
	padding: 20px 240px;
	font-size: 24px;
	font-weight: bold;
	border: none;
	border-radius: 5px;
	border: 2px solid black;
	text-align: left;
}

display {
	text-align: left;
}
